<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>File Upload Into MongoDB</title>
  </head>
    <body>
        <h1>File Upload Into MongoDB</h1>

        <%- msg ? `<div class="alert alert-danger" role="alert">${msg}</div>` : '' %>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileuploadbtn">Click to upload an image file</label>
                <input type="file" name="imageUpload" class="form-control-file" id="fileuploadbtn">
            </div>
            <button type="submit" class="btn btn-primary">Upload Image</button>
        </form>
        <br>

        <% if (results) { %>
        <table class="table table-striped">
            <thead>
             <tr>
                <th scope="col">Image</th>
                <th scope="col">Size (Bytes)</th>
                <th scope="col">DELETE</th>
             </tr>
            </thead>
            <tbody>
                <% for (const image of results) { %>
                    <tr>
                        <td><img src="<%= image.name %>" class="rounded-circle" width=150 height=150></td>
                        <td><%= image.size %></td>
                        <td>
                            <form action="/delete" method="GET">
                                <input type="hidden" name="filename" value="<%= image.name %>">
                                <button type="submit" class="btn btn-danger">
                                    DEL
                                </button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
    </body>
</html>